<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<appSettings>
		<add key="dependencyResolverTypeName" value="NopSolutions.NopCommerce.BusinessLogic.Infrastructure.UnityDependencyResolver, Nop.BusinessLogic" />
	</appSettings>
	<connectionStrings>
		<add name="NopSqlConnection" connectionString="Data Source=SHAREPOINT;Initial Catalog=SewbieDevelop;Integrated Security=True;Persist Security Info=False;MultipleActiveResultSets=True;Connect Timeout=120" />
	</connectionStrings>
</configuration>
