<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeContracts.Unofficial" version="1.0.0.2" />
  <package id="DotNetOpenAuth" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.Core" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.Core.UI" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.InfoCard" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.InfoCard.UI" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.OAuth.Common" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.OAuth.ServiceProvider" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.OpenId.Core.UI" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.OpenId.Provider" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.OpenId.Provider.UI" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty.UI" version="4.0.2.12119" />
  <package id="DotNetOpenAuth.OpenIdInfoCard.UI" version="4.0.2.12119" />
  <package id="EntityFramework" version="4.3.1" />
  <package id="jQuery" version="1.8.2" targetFramework="net40" />
  <package id="jQuery.InfiniteScroll" version="2.120312" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.8.19" />
  <package id="jQuery.vsdoc" version="1.6" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.7.0.0" />
  <package id="Modernizr" version="2.5.3" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net40" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="WindowsAzure.Storage" version="1.7.0.0" />
</packages>