<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


    <connectionStrings>
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
             name="NopSqlConnection"
             connectionString="Data Source=c6br02jawb.database.windows.net;Initial Catalog=Sewbie;Integrated Security=False;Persist Security Info=False;User ID=swb_adm;Password=SewbieG0Sewbie;MultipleActiveResultSets=True;Connect Timeout=120" />
    </connectionStrings>
    <appSettings>
        <!--137.117.96.197-->
        <add key="cancelUrl" value="https://137.117.96.197/PaypalCancel.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="returnUrl" value="https://137.117.96.197/PaypalAPHandler.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="PayPalSuccessReturnUrl" value="https://137.117.96.197/Default.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="applicationId" value="APP-80W284485P519543T" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="deviceId" value="137.117.96.197" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="currencyCode" value="USD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="maxTotalAmountOfAllPayments" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="strRedirectURL" value="https://www.sandbox.paypal.com/webscr?cmd=_ap-preapproval" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="strEndpointURL" value="https://svcs.sandbox.paypal.com/AdaptivePayments/Preapproval" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="USERID" value="admin_1320635048_biz_api1.sewbie.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="PASSWORD" value="1320635073" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="SIGNATURE" value="AVj0mNaVka-tVQNuy.W.Vh9b.EiCA7NhHUJP55FWsKJZWFSk.8ywgf7Z" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Pay_strEndpointURL" value="https://svcs.sandbox.paypal.com/AdaptivePayments/Pay" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Pay_strRedirectURL" value="https://www.sandbox.paypal.com/webscr?cmd=_ap-payment" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Execute_strEndpointURL" value="https://svcs.sandbox.paypal.com/AdaptivePayments/ExecutePayment" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="ExecuteDetails_strEndpointURL" value="https://svcs.sandbox.paypal.com/AdaptivePayments/PaymentDetails" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="PreapprovalDetails_strEndpointURL" value="https://svcs.sandbox.paypal.com/AdaptivePayments/PreapprovalDetails" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="PaypalURL" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_xclick" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="FailedURL" value="https://137.117.96.197/VendorAdministration/default.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="SuccessURL" value="https://137.117.96.197/VendorAdministration/default.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
    <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>