<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    -->  
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        
        <add name="SqlStaging" connectionString="Data Source=64.27.50.62,1533;Initial Catalog=dbSewbie_Nop_Stg;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=SewbieG0Sewbie;MultipleActiveResultSets=True;Connect Timeout=120" />
    </connectionStrings>

    <appSettings>
        <add key="cancelUrl" value="https://localhost/SewbieDevelop/SinglePageCheckOut.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="returnUrl" value="https://localhost/SewbieDevelop/SinglePageCheckOut.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="PayPalSuccessReturnUrl" value="https://localhost/SewbieDevelop/Default.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="applicationId" value="APP-80W284485P519543T" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="deviceId" value="127.0.0.1" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="currencyCode" value="USD" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="maxTotalAmountOfAllPayments" value=""/>
        <add key="strRedirectURL" value="https://www.sandbox.paypal.com/webscr?cmd=_ap-preapproval" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="strEndpointURL" value="https://svcs.sandbox.paypal.com/AdaptivePayments/Preapproval" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="USERID" value="ilsmut_1357886581_biz_api1.gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="PASSWORD" value="1357886601" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="SIGNATURE" value="AOIwOKO7.AyfJVZAidZVKyKI-oS9A2Ik0WoxUysmRO4idMrSsVDaf0Hz" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="receiver_email" value="ilsmut_1357886581_biz@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="Pay_strEndpointURL" value="https://svcs.sandbox.paypal.com/AdaptivePayments/Pay" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="Pay_strRedirectURL" value="https://www.sandbox.paypal.com/webscr?cmd=_ap-payment" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="Execute_strEndpointURL" value="https://svcs.sandbox.paypal.com/AdaptivePayments/ExecutePayment" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="ExecuteDetails_strEndpointURL" value="https://svcs.sandbox.paypal.com/AdaptivePayments/PaymentDetails" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add key="PreapprovalDetails_strEndpointURL" value="https://svcs.sandbox.paypal.com/AdaptivePayments/PreapprovalDetails" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

    <membership defaultProvider="NopMembershipSqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="NopMembershipSqlProvider" 
             type="NopSolutions.NopCommerce.BusinessLogic.Profile.StoreMembershipProvider, Nop.BusinessLogic" 
             connectionStringName="SqlTest"
             xdt:Transform="SetAttributes" 
             xdt:Locator="Match(name)" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="NopRoleManagerSqlProvider" cookieName=".NopCommerceRoles" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="NopRoleManagerSqlProvider" 
             type="NopSolutions.NopCommerce.BusinessLogic.Profile.StoreRoleProvider, Nop.BusinessLogic" 
             connectionStringName="SqlTest"
             xdt:Transform="SetAttributes"
             xdt:Locator="Match(name)"
             />
      </providers>
    </roleManager>
    
  </system.web>

  <NopConfig>
    <SqlServer
               name="nopSqlServerString"
               ConnectionStringName="SqlStaging"
               xdt:Transform="SetAttributes"
               xdt:Locator="Match(name)"
             />
  </NopConfig>
  
</configuration>