<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
   -->   
    <connectionStrings>
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" 
           name="NopSqlConnection" 
           connectionString="Data Source=64.27.50.62,1533;Initial Catalog=dbSewbie_Nop;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=SewbieG0Sewbie;MultipleActiveResultSets=True;Connect Timeout=120" />
    </connectionStrings>
    
    <appSettings>
        <!--<add key="cancelUrl" value="https://www.sewbie.com/PaypalCancel.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="returnUrl" value="https://www.sewbie.com/PaypalAPHandler.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="PayPalSuccessReturnUrl" value="https://www.sewbie.com/Default.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="applicationId" value="APP-4L497270HY871615H" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="deviceId" value="64.27.50.62" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="currencyCode" value="USD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="strRedirectURL" value="https://www.paypal.com/webscr?cmd=_ap-preapproval" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="strEndpointURL" value="https://svcs.paypal.com/AdaptivePayments/Preapproval" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="USERID" value="admin_api1.sewbie.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="PASSWORD" value="CB87MHBEMBPHHQ4Q" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="SIGNATURE" value="AlWHVy3ImYr.t1QuaXZWk0sjODRqAenhZXiH37DocNHmZK.fOCrvrFy9" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Pay_strEndpointURL" value="https://svcs.paypal.com/AdaptivePayments/Pay" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Pay_strRedirectURL" value="https://www.paypal.com/webscr?cmd=_ap-payment" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Execute_strEndpointURL" value="https://svcs.paypal.com/AdaptivePayments/ExecutePayment" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="ExecuteDetails_strEndpointURL" value="https://svcs.paypal.com/AdaptivePayments/PaymentDetails" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="PreapprovalDetails_strEndpointURL" value="https://svcs.paypal.com/AdaptivePayments/PreapprovalDetails" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="PaypalURL" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_xclick" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="FailedURL" value="https://swbtest.cloudapp.net/VendorAdministration/default.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="SuccessURL" value="https://swbtest.cloudapp.net/SewbieDevelop/VendorAdministration/default.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->

        <add key="UseSSL" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <!--<add key="receiver_email" value="ilsmut_1357886581_biz@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
        <!--<add key="maxTotalAmountOfAllPayments" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    </appSettings>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="NopSolutions.NopCommerce.Web.Services.PaypalAdaptiveAccount.PaypalAdaptiveAccountServiceAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="SearchAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="SearchServiceBehavior">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
                <behavior name="PaypalAdativeAccountServiceBehavior">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>